:root {
    --base-gray:  rgb(43, 43, 43);
    --dark-gray: rgb(25,25,25);
    --green: rgb(104, 199, 96);
}

body {
    background-color: var(--base-gray);
    color:rgb(228, 228, 228);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contentDiv {
    width: 90%;
    max-width: 650px;
    margin: auto;
    height: 100%;
    border: 5px solid;
    border-color: rgb(104, 199, 96);
    padding: 1rem;
}